<br>
    <h2 class="w-100 text-center"> You have not sold one coin. The history is empty </h2>
    <h3  class="w-100 text-center"> To designate a currency as sold, follow these steps </h3>
 
<div class="card card-profile ml-auto mr-auto" style="max-width: 500px">
 <div class="card-body ">
        <h3 class="card-category text-dark">
            1. Select the desired coin and click on "Edit"
        </h3>
    </div>
  <div class="card-header card-header-image">
       
            <%= image_tag("/img/1.jpg", class: " img") %>
      
    </div>
   
</div>
<br>
<br>

<div class="card card-profile ml-auto mr-auto" style="max-width: 500px">
<div class="card-body ">
        <h3 class="card-category text-dark">
            2. In the bottom field, enter the value of one coin at the time of sa50
        </h3>
    </div>
  <div class="card-header card-header-image">
        
            <%= image_tag("/img/2.jpg", class: " img") %>
        
    </div>
    
</div>
