<!-- If user login -->
<div class="row">
        <div class="col-md-12">
            <section class="jumbotron text-center">
                <div class="container">
             
                <h3 class="jumbotron-heading">
                    <%= t('descr_after_login_home') %>   
                </h3>
                    <%= link_to t('portfolio'), coins_path, class: "btn btn-info" %>
                    <%= link_to t('add_new_coin'), new_coin_path, class: "btn btn-success" %>
                </p>
                </div>
            </section>
        </div>
    </div>