<div class="card">
  <div class="card-body">
  <% @soldcount = 0 %>
    <% @coins.each do |coin| %>
      <% if coin.person_id == current_person.id %>
        <% if coin.cost_per_sold.blank? %>  
        <% else %>
            <% @soldcount += 1 %>
        <% end %>
      <% end %>
    <% end %> 
    <!-- Render content -->  
    <% if (@soldcount >= 1) %>
      <%= render 'static_pages/if_history_not_empty' %>
    <% else %>
      <%= render 'static_pages/history_empty' %>
    <% end %>
   
      <br>
  </div>
</div>
<!-- Close MainCart (Wrap) -->


<script>
  jQuery(document).ready(function ($) {


 // Paste info about portolio value
           var profitLost = 0;
        $('.proit__lost').each(function () {
          profitLost += parseFloat($(this).text());
        });
        console.log(">>>>>" + profitLost);
        $('#historyProfLost').text(profitLost.toFixed(2));

    $(".coin__item__wrap a.btn-info").html('<i class="material-icons">subject</i>');
    $(".coin__item__wrap a.btn-success").html('<i class="material-icons">mode_edit</i>');
    $(".coin__item__wrap a.btn-danger").html('<i class="material-icons">delete</i>');
    $("#cardAddNewCoin a").html('<i class="material-icons">add</i>');
    // Change color depends value
    $(".change__value .badge").each(function () {
      var value = $(this).find(".change__val");
      var value = value.text();
      if (value >= 0) {
        $(this).addClass('badge-success');
      } else {
        $(this).addClass('badge-danger');
        $(this).find(".material-icons").text('trending_down');
      }
    });
    // Change color Summary
    var value = $("#wrapPortfSumm #moneyPortfLost");
    var value = value.text();
    if (value >= 0) {
      $('#wrapPortfSumm').addClass('bg-success');
    } else {
      $('#wrapPortfSumm').addClass('bg-danger');
    }


  });
</script>
