<% if !person_signed_in? %>
    <div class="row">
        <div class="col-md-12">
            <section class="jumbotron text-center">
                <div class="container">
                <h1 class="jumbotron-heading">Keep track of your crypto coins</h1>
                <p class="lead text-muted">Create an account and add your coins. And watch in real time. How much do they cost in sum and separately <a href="#"> Read More... </a></p>
                
                <p>
                    <a href="#" class="btn btn-primary my-2">Sign Up</a>
                    <a href="#" class="btn btn-secondary my-2">Login</a>
                </p>
                </div>
            </section>
        </div>
    </div>
<% else %>


<div class="row">
        <div class="col-md-12">
            <section class="jumbotron text-center">
                <div class="container">
                <h3 class="jumbotron-heading">
Check the status of your crypto currency. Or add a new currency to your portfolio</h3>
               
                    <%= link_to 'Check crypto currency', coins_path, class: "btn btn-info" %>
                    <%= link_to 'New crypto currency', new_coin_path, class: "btn btn-success" %>
                </p>
                </div>
            </section>
        </div>
    </div>
<% end %>

