body > .container {
    min-height: calc(100vh - 150px);
    padding: 0px;
}

.portfSummText {
    font-size: 1.5rem;
}



.coin__item__wrap a:nth-child(1) {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.3s;
}
.coin__item__wrap a:nth-child(2) {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.6s;
}
.coin__item__wrap a:nth-child(3) {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.9s;
}
p.change__val::after { 
    content: "$";
}

.col-md-4 p.change__val::after { 
    content: "%";
}

#cardAddNewCoin .btn {
    height: 50px;
    width: 50px;
    -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
    
}
#cardAddNewCoin .btn i {
line-height: 50px;
    font-size: 45px;
    -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}

#cardAddNewCoin:hover .btn {
    height: 60px;
    width: 60px;
    
    transform: rotate(360deg);
    -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
}
#cardAddNewCoin:hover .btn i {
    -webkit-transition: all 0.4s; /* Safari */
    transition: all 0.4s;
    line-height: 60px;
    font-size: 55px;
}

.card-signup input {
    z-index: 99;
    position: relative;
}

#wrapEditForm #formCoinName {
    display: none;
}

form label, .text-black {
    color: black;
}

#error_explanation h2 {
    
    color: white;
    font-size: 20px;
    line-height: 24px;
   

}
#error_explanation {
    padding: 20px;
    background-color: #ff8d8d;
    color: white;
     margin-bottom: 35px;
     border-radius: 4px;
}

#error_explanation ul {
    list-style: none;
    text-align: left;
    padding-left: 0px;
}

#error_explanation li {
    margin-top: 7px;
    padding: 4px;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
}
/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {
	background-color:#fff;
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #9b28b0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.main-title .thin {
	font-weight: 200;
}

@media only screen and (max-width : 768px) {
	.demo-1 .main-title {
		font-size: 3em;
	}
}

#large-header-row {
    margin-top: -20px;
    position: absolute;
}
#cont-home-row {
    position: relative;
    z-index: 2;
    padding-top: 15vh;
}

body {
    overflow-x: hidden;
}

.navbar {
    z-index: 3;
}