<div id="wrapEditForm">
    <%= render 'form', coin: @coin %>
    <br>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center"> 
    <li class="page-item"><%= link_to 'Back', coins_path, class:'page-link' %></li> 
    <li class="page-item"><%= link_to 'Show detail', @coin, class:'page-link' %></li>
  </ul>
</nav>
    <script>
jQuery(document).ready(function($) {

var inputCoinName = $("#formCoinName input").val();
console.log('inputCoinName' + inputCoinName);
$( "#wrapEditForm #formTextHeader" ).text( "Edit: " + inputCoinName );

});
</script>
</div>
